body{
    background-image: url(kopi.webp)} 
    body{
        background-position: center }  
        body{
            background-size: cover;} 
            
        h1{ color: plum;}
 
                    a{color: plum;}

             button{ color: black;}

             input{color: black;}

             p{color: palevioletred;}

             p{ font-size: 25px;;}

             .instagramcom{
                position: relative; bottom: 22px;
                position: relative; left: 2.1px;
                color: transparent;  
              font-display: none;
              display: none;
            }

            
       
        
                


